# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js Build Output
/.next/
/out/
/build

# Environment Variables & Secrets (ห้ามนำขึ้น Git)
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# System & OS Files
.DS_Store
*.pem
Thumbs.db

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
